html {
  // background: url(../../images/previews/home.svg) no-repeat;
  // overflow: hidden;
}

body {
  font-family: 'roboto medium';
  background: $bg-color;
  min-height: 100vh;
  // opacity: .4;
}

.container {
  margin-top: 7.5vw;
  width: 80vw;
  margin: auto;
}
