@font-face {
  font-family: 'roboto medium';
  src: url(../../fonts/Roboto-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 1.5rem;
  color: $text-color;
}

p {
  font-size: 1.5rem;
}
