@media screen and (min-width: 320px) {
  .ticket-minor {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-box {
      position: absolute;
      width: 53vw;
      place-self: start;
      text-align: center;
      p {
        align-self: center;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
